extends layout.pug
block content
    h1= 'This is password protected content'
    p= 'Some very secret text'
    form(action="http://localhost:3000/logout")
        button(type="submit")=  'Logout'
    //- <form action="http://localhost:3000/logout">
    //- <button type="submit">Logout</button>
    //- </form>
